*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mapDiv {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.input-edit-station {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;

  &:focus {
    outline: 1px solid #bbb;
  }
}
